/** NAVBAR **/

.navbar {
    padding: 1em 4em 1em 6em;
    background-color: #fff3f3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.navbar-brand {
    font-size: 6rem;
    font-family: 'Rouge Script';
}
.nav-item{
    font-size: 24px;
    padding: 0.7em;
}
a.navbar-brand{
    color:#ff1654;
}
.navbar-nav a{
    color: #ff1654;
    transition: 0.3s;
}
    .navbar-nav a:hover{
        color: #7d4f50;
    }

/** NAVBAR-END **/


/** footer-section **/

.page-footer {
    background-color: #fff3f3;
    color: #7d4f50;
}


.list-inline-item {
    padding: 2em;
}

.fab {
    color: #ff1654;
}

/** footer end **/
