/*
    Palette
    #7d4f50; --> main BG-colour
    #6e4546 --> darker shade of BG
    #fff3f3 --> header/footer
    #ff1654 --> pink-ish
    #fff07c --> yellow-tagline
    */

/** INDEX PAGE  **/
*{
    max-width: 100%;
}
body {
    background-color: #7d4f50;
    color: #ffffff;
    font-family: 'Esteban';

}
#body-info{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal-content{
    background-color: #fff3f3;
    color: #7d4f50;
}
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
    .close:hover, .close:focus {
         color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-btn{
    font-size: 1.3em;
    padding: 0.5em 2em;
    margin-right: 2em;
}
.modal-footer{
    margin-right: 10em;
}



/** intro section **/

#intro-section {
    padding: 4rem;
    background-image: url('../images/flower-bg.jpg');
}


#intro-section .row {
    padding: 4rem 8rem 7rem 8rem;
}


.intro-para {
    padding-right: 10rem;
    padding-top: 5rem;
    
}


.intro-para h1 {
    font-family: 'Esteban', cursive;
    font-size: 4rem;
}


.intro-para p {
    font-size: 1.75rem;
}
.intro-para .tagline{
    font-family: 'Rouge Script';
    /*color: #e4c1f9;*/
    color: #fff07c;
   
}

form{
    padding: 3em;
}
/** intro section end **/


/** section-2  **/

#feature-section{
    padding: 4em;
}


#features-section .row{
    padding: 4rem 8rem 7rem 8rem;

}

.features-para{
    padding-top: 6rem;
    padding-left: 5em;
    font-size: 1.5em;
}

.features-para ul{
    padding-bottom: 1em;
}
#features-section li{
  padding: 0.75em;
}

.features-para .tagline{
    color: #fff07c;
    font-family: 'Rouge Script';
    font-size: 2em;
    padding-bottom:0.5em;
}


.scooter{
    padding: 2em 2em;
}



/** section-2 end **/


/** adding float animations for svgs (experimental) **/
.float {
  -webkit-animation-name: Floating;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floating{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 50px);}
    to {-webkit-transform: translate(0, -0px);    }
}

/** floating svg animation - end **/


/** section-3  **/
#section-3 {
    background-image: url('../images/flower.jpg');
}

.carousel {
    padding-bottom: 6rem;
    /*background-color: #6e4546;*/
}

#carousel .carousel-item {
  height: 70vh;
  width: 100%;
  min-height: 20px;
  background: no-repeat center center scroll;
  }

#carousel .carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

#carousel .carousel-item .caption {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  animation-duration: 1s;
  animation-delay: 2s;
}

#carousel .container{
 width: 50 px;
 position: absolute;
   left: 35%;
}

#carousel .caption h2 {
  animation-duration: 1s;
  animation-delay: 2s;
}

#carousel .caption p {
  animation-duration: 1s;
  animation-delay: 2.2s;
}

#carousel .caption a {
  animation-duration: 1s;
  animation-delay: 2.4s;
}

.caption {
    text-align: center;
    font-family: 'Rouge Script';
    font-size: 3rem;
    
}
.user{
    font-family: 'Esteban';
    font-size: x-large;
}
.review{
    color: #fff07c;
}

/** section-3 end **/


/** INDEX PAGE END **/
